---
name: Build ODIS loadtest image

on:
  push:
    paths:
      - 'dockerfiles/Dockerfile-loadtest'
      - 'apps/monitor/**'
    branches:
      - main
    tags:
      - odis-loadtest-.*
  pull_request:
    paths:
      - 'dockerfiles/Dockerfile-loadtest'
      - 'apps/monitor/**'
  workflow_dispatch:

jobs:
  odis-loadtest-build-dev:
    uses: celo-org/reusable-workflows/.github/workflows/container-cicd.yaml@v1.13.0
    name: Build us-west1-docker.pkg.dev/devopsre/dev-images/odis-loadtest
    if: |
      github.ref != 'refs/heads/main'
    with:
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-social-connect/providers/github-by-repos
      service-account: 'social-connect-dev@devopsre.iam.gserviceaccount.com'
      artifact-registry: us-west1-docker.pkg.dev/devopsre/dev-images/odis-loadtest
      tag: ${{ github.sha }}
      context: .
      file: dockerfiles/Dockerfile-loadtest
      trivy: true

  odis-loadtest-build:
    uses: celo-org/reusable-workflows/.github/workflows/container-cicd.yaml@v1.13.0
    name: Build us-west1-docker.pkg.dev/devopsre/social-connect/odis-loadtest
    if: |
      github.ref == 'refs/heads/main'
    with:
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-social-connect-main/providers/github-by-repos
      service-account: 'social-connect@devopsre.iam.gserviceaccount.com'
      artifact-registry: us-west1-docker.pkg.dev/devopsre/social-connect/odis-loadtest
      tag: ${{ github.sha }}
      context: .
      file: dockerfiles/Dockerfile-loadtest
      trivy: true

  odis-loadtest-tag:
    uses: celo-org/reusable-workflows/.github/workflows/container-cicd.yaml@v1.13.0
    name: Build us-west1-docker.pkg.dev/devopsre/social-connect/odis-loadtest tag
    if: |
      startsWith(github.ref, 'refs/tags/odis-loadtest-')
    with:
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-social-connect-tag/providers/github-by-repos
      service-account: 'social-connect@devopsre.iam.gserviceaccount.com'
      artifact-registry: us-west1-docker.pkg.dev/devopsre/social-connect/odis-loadtest
      tag: ${{ github.ref_name }}
      context: .
      file: dockerfiles/phone-number-privacy/Dockerfile-loadtest
      trivy: true
